<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <img src="/assets/heladeria.png" class="img-fluid rounded" alt="Heladería">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Acerca de Nosotros</h2>
                <p>En <strong>Heladería 2024</strong>, nos dedicamos a ofrecer los helados más deliciosos y de la mejor calidad desde 2024. Nuestra misión es traer alegría y frescura a nuestros clientes a través de una amplia variedad de sabores artesanales, preparados con ingredientes frescos y naturales.</p>
                <p>Nuestra heladería nació de la pasión por los helados y el deseo de crear un lugar acogedor donde las personas puedan disfrutar de momentos especiales. Cada uno de nuestros productos es elaborado con amor y dedicación, garantizando una experiencia única en cada visita.</p>
                <p>Nos enorgullece ser parte de esta comunidad y nos esforzamos por innovar constantemente, introduciendo nuevos sabores y mejorando nuestras recetas para satisfacer los gustos de todos nuestros clientes. ¡Te invitamos a visitarnos y descubrir la magia de nuestros helados!</p>
                <a href="contacto.html" class="btn btn-primary mt-3">Contáctanos</a>
            </div>
        </div>
    </div>
</section>