<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        <a class="nav-link" href="#">News</a>
        <a class="nav-link" [routerLink]="['/about']">About</a><!--directiva de redireccion de links-->
        <a class="nav-link disabled" aria-disabled="true">Info</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet><!--indicamos donde queremos que angular muestre los componentes-->
</div>
<h1>{{title}}</h1>
<footer>{{title}} 2024</footer>