<td><!--el binding cuando es desde html a ts () , cuando es al reves se utiliza [] o interpolacion-->
    <button class="btn btn-outline-warning" (click)="decrementarCantidad()">-</button><!--two-data binding [()]conectado ida y vuelta-->
        <input type="text" [(ngModel)]="quantity" (keydown)="validateInput($event)" (keyup)="onChangeQuantity($event)"><!--bug fixing (se controlan los parametros validos)-->
    <button class="btn btn-outline-success" (click)="incrementarCantidad()">+</button>
</td>