<table class="table">
    <thead>
        <th>Imagen</th>
        <th>Sabor</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
    </thead>
    <tbody><!--como se vio en web 2 se utiliza la logica de vista para mostrar dinamicamente los datos-->
        @for (ice of ice; track $index) {<!--directivas en angular(de estructura if/for de atributos ngStyle)-->
            <tr>
                <td><img [src]= "ice.imagen" [alt]= "ice.sabor" ></td>
                <td>{{ice.sabor}}</td>
                <td>{{ice.tipo}}</td>
                <td>{{ice.precio|currency}}</td><!--pipes(se pueden concatenar)-->
                @if (ice.stock>0){
                    <td>{{ice.stock}}</td>
                }@else{
                    <td>SIN STOCK</td>
                }
            </tr>
        }
        @empty {
            <td>no hay lista de helados para mostrar</td>
        }
    </tbody>
</table>
