<table class="table">
    <thead>
        <th>Imagen</th>
        <th>Sabor</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Cantidad</th>
    </thead>
    <tbody><!--como se vio en web 2 se utiliza la logica de vista para mostrar dinamicamente los datos-->
        @for (ice of ices; track $index) {<!--directivas en angular(de estructura if/for de atributos ngStyle)-->
            <tr>
                <td><img [src]= "ice.image" [alt]= "ice.taste" ></td>
                <td>{{ice.taste}}</td>
                <td>{{ice.type}}</td>
                <td>{{ice.price|currency}}</td><!--pipes(se pueden concatenar)-->
                @if (ice.stock>0){
                    <td>{{ice.stock}}</td>
                    <div>
                        <app-input-integer [(quantity)]="ice.quantity" [max]="ice.stock" (maxReached)="maxReached($event)">
                        </app-input-integer>
                        <button class="btn btn-outline-info" (click)="addToCart(ice)">comprar</button>
                    </div>
                }@else{
                    <td>SIN STOCK</td>
                }
                
            </tr>
        }
        @empty {
            <td>no hay lista de helados para mostrar</td>
        }
    </tbody>
</table>
